body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    max-width: 500px;
}

.frame {
    display: inline-block; /* Permite que a moldura se ajuste ao tamanho da imagem */
    border: 8px solid #8B4513; /* Cor da moldura */
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra da moldura */
    border-radius: 10px;
}

.photo {
    width: 60%; /* Ajuste a largura da imagem aqui */
    max-width: 350px; /* Limite máximo da largura */
    height: auto;
    border-radius: 5px;
}

.description {
    font-size: 20px;
    margin-top: 15px;
    color: #333;
}